* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 288px;
    max-width: 768px;
    margin: 16px auto;
    padding: 0 16px;
    font-family: monospace;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: #58a6ff;
}

a:hover,
a:focus {
    color: #8e96f0;
    text-decoration: none;
}

ol li,
ul li {
    margin: 4px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
    margin: 8px 0;
}

h1,
h2,
h3 {
    line-height: 1.2
}

.header {
    text-align: center;
    justify-content: center;
}

.footer {
    text-align: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #c9d1d9;
        background: #0d1117
    }
    a:link {
        color: #58a6ff
    }
    a:visited {
        color: #8e96f0
    }
}

